/Array2DLab.class
/Cipher.class
/FizzBuzz.class
/Importing.class
/Labs.class
/Loops.class
/Loops2.class
/MarsAttacks.class
/MethodsPractice.class
/NestedLoops.class
/PubQuiz.class
/Rain.class
/RockPaperScissors.class
/SquareDraw.class
/TemperatureAnaylser.class
/Weather2.class
